<body>
<div class="container">
    <div class="login-left">
        <div class="image-header">
            <img src="/assets/IGARRETA.jpg">    
        </div>  
        <div class="login-header">
            <p>INICIAR SESION</p>
        </div>  
        <form class="login-form" autocomplete="off">
            <div class="login-form-content">
                <div class="form-item">
                    <label for="emailForm">Usuario</label>
                    <input type="text" id="emailForm">
                </div>
                <br>
                <div class="form-item">
                    <label for="passwordForm">Password</label>
                    <input type="password" id="passwordForm">
                </div>
                <br>
                <button type="submit">Ingresar</button>
            </div>
        </form>
    </div>
    <div class="login-right">
        <img src="/assets/login-image.svg">
    </div>
</div>
</body>